@use "./reset.scss";

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("ttf");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter";
  font-weight: 400;
  color: var(--dark);
  background-color: var(--white);
  max-width: 540px;
}

:root {
  --blue: #3345e9;
  --dark: #00095a;
  --white: #ffffff;
  --light: #e7e9ff;
  --grey: #f5f6f8;
}

h1 {
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 100%;
}
h2 {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 100%;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  &.uppercase {
    text-transform: uppercase;
  }
}

.link {
  font-size: 14px;
  text-decoration: underline;
}

.global-hero {
  margin: 32px 0 42px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.filters {
  margin-top: 24px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  & > input {
    border-radius: 8px;
    border: 1px solid var(--dark);
    width: 185px;
    height: 25px;
    padding: 8px;
  }
  > .sort-results-container {
    position: relative;
    display: flex;
    flex-direction: column;
    > .sort-values {
      display: flex;
      gap: 8px;
    }
    > .sorts-options {
      background-color: var(--grey);
      display: flex;
      flex-direction: column;
      align-items: end;
      padding: 12px;
      gap: 12px;
      border-radius: 16px;
      position: absolute;
      top: 100%;
      z-index: 1;
      display: none;
      &.open {
        display: flex;
        > p {
          &.active {
            font-weight: 700;
          }
        }
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  > .form-part {
    display: flex;
    flex-direction: column;
    gap: 4px;
    > label {
      font-weight: 700;
      font-size: 14px;
    }
    > input,
    select {
      padding: 8px;
      font-family: "Inter";
      border-radius: 8px;
      border: 0.25px solid var(--dark);
      background-color: var(--grey);

      &::placeholder {
        opacity: 0.5;
      }

      &[type="file"] {
        padding: 0;
        border-radius: 0;
      }
      > option {
        padding: 8px;
        background-color: var(--grey);
      }
    }
  }
}
